body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card h3 {
  margin-top: 0;
}

.product-banner {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  margin: 20px;
  min-width: 600px;
  align-items: center;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  background: #0077cc;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.btn:hover {
  background: #ccc;
}

.cart-banner {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 200px;
  width: 70%;
  align-items: center;
}
